node-red_script/02_openweathermap.json
[
    {
        "id": "66014bc8.04daa4",
        "type": "tab",
        "label": "OpenWeatherMap",
        "disabled": false,
        "info": ""
    },
    {
        "id": "578149ca.22d938",
        "type": "inject",
        "z": "66014bc8.04daa4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "25c9f2f6.1fca7e"
            ]
        ]
    },
    {
        "id": "6a60afd2.4f42b",
        "type": "function",
        "z": "66014bc8.04daa4",
        "name": "날씨 수신",
        "func": "msg.payload = msg.payload.weather;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 200,
        "wires": [
            [
                "7700c15a.70381"
            ]
        ]
    },
    {
        "id": "96646d57.74c6d",
        "type": "ui_text",
        "z": "66014bc8.04daa4",
        "group": "f57185be.c95ba8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "날씨",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "5e7b1d45.a0c8a4",
        "type": "function",
        "z": "66014bc8.04daa4",
        "name": "풍속 수신",
        "func": "msg.payload = msg.payload.windspeed\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "898aa3ee.5c38a"
            ]
        ]
    },
    {
        "id": "45a6c11c.2e036",
        "type": "function",
        "z": "66014bc8.04daa4",
        "name": "기압 수신",
        "func": "msg.payload = msg.payload.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "a151d575.76b7c8"
            ]
        ]
    },
    {
        "id": "a151d575.76b7c8",
        "type": "ui_text",
        "z": "66014bc8.04daa4",
        "group": "f57185be.c95ba8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "기압",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe3ac235.9d0d5",
        "type": "ui_text",
        "z": "66014bc8.04daa4",
        "group": "f57185be.c95ba8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍속",
        "format": "{{msg.payload}} km/h",
        "layout": "row-spread",
        "x": 1110,
        "y": 260,
        "wires": []
    },
    {
        "id": "25c9f2f6.1fca7e",
        "type": "openweathermap",
        "z": "66014bc8.04daa4",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Seoul",
        "country": "Korea",
        "language": "en",
        "x": 370,
        "y": 200,
        "wires": [
            [
                "6a60afd2.4f42b",
                "5e7b1d45.a0c8a4",
                "45a6c11c.2e036",
                "bb46e1d3.64af2"
            ]
        ]
    },
    {
        "id": "7700c15a.70381",
        "type": "google-translate",
        "z": "66014bc8.04daa4",
        "name": "한글로 번역",
        "to": "ko",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "96646d57.74c6d"
            ]
        ]
    },
    {
        "id": "bb46e1d3.64af2",
        "type": "function",
        "z": "66014bc8.04daa4",
        "name": "풍향 수신",
        "func": "msg.payload = msg.payload.winddirection;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 380,
        "wires": [
            [
                "86b71798.1594a8"
            ]
        ]
    },
    {
        "id": "c43e9c11.2d768",
        "type": "ui_text",
        "z": "66014bc8.04daa4",
        "group": "f57185be.c95ba8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "풍향",
        "format": "{{msg.payload}} °",
        "layout": "row-spread",
        "x": 1110,
        "y": 380,
        "wires": []
    },
    {
        "id": "898aa3ee.5c38a",
        "type": "unit-converter",
        "z": "66014bc8.04daa4",
        "category": "speed",
        "inputUnit": "m/s",
        "outputUnit": "km/h",
        "inputField": "payload",
        "outputField": "payload",
        "inputFieldType": "msg",
        "outputFieldType": "msg",
        "name": "단위 변경",
        "x": 800,
        "y": 260,
        "wires": [
            [
                "c4f3b712.ca6868"
            ]
        ]
    },
    {
        "id": "c4f3b712.ca6868",
        "type": "function",
        "z": "66014bc8.04daa4",
        "name": "반올림",
        "func": "msg.payload = msg.payload.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 260,
        "wires": [
            [
                "fe3ac235.9d0d5"
            ]
        ]
    },
    {
        "id": "86b71798.1594a8",
        "type": "function",
        "z": "66014bc8.04daa4",
        "name": "반올림",
        "func": "msg.payload = msg.payload.toFixed(1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 380,
        "wires": [
            [
                "c43e9c11.2d768"
            ]
        ]
    },
    {
        "id": "7c751653.42a948",
        "type": "comment",
        "z": "66014bc8.04daa4",
        "name": "388690fdf0c095559aa5ba552a9a7860",
        "info": "",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "f57185be.c95ba8",
        "type": "ui_group",
        "z": "",
        "name": "날씨",
        "tab": "343116c0.f8b55a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "343116c0.f8b55a",
        "type": "ui_tab",
        "z": "",
        "name": "날씨",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]